<%= form_for @link do |f| %>
	<br />
	<% @link.errors.full_messages.each do |error| %>
		<p class='errors'><%= error %></p>
	<% end %>
	<%= f.text_field :url %>
	<%= f.submit "Add link!", :class => "btn-inverse" %>
<% end %>