/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

img.bordered-fav {
	border: 1px solid #c2c2c2;
/*	box-shadow: 1px 1px 1px 1px #ddd;
*/}

.brand {
    color: #333 !important;
    font-size: 2em !important;;
}


.navbar .nav .active > a, .navbar .nav .active > a:hover {
    color: white;
    text-decoration: none;
    background-color: #ccc !important;
}


.navbar-inner {
    height: 40px !important;;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
    vertical-align: center !important;
    background-color: #fff !important;
    background-image: -moz-linear-gradient(top, #fff, #ccc) !important;
    background-image: -ms-linear-gradient(top, #fff, #ccc) !important;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ccc), to(#fff)) !important;
    background-image: -webkit-linear-gradient(top, #fff, #ccc) !important;
    background-image: -o-linear-gradient(top, #fff, black) !important;
    background-image: linear-gradient(top, #fff, #ccc) !important;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#222222', GradientType=0);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}

.link {
/*	opacity:0.7;*/
	border: 1px solid #c2c2c2;
	background: #fff !important;
	padding-top: 10px !important;
	padding-bottom: 20px !important;
	padding-left: 22px !important;
	padding-right: 0px !important;
	width: 800px !important;
	height: 90px !important;
	margin: 1px !important;
	margin-bottom: 7px !important;
    box-shadow: 2px 2px 2px #aaa;
    border-radius: 7px;
}
	
body {
	background-color: #FFFAF0 !important;
	background-image: url("http://subtlepatterns.com/patterns/concrete_wall_3.png");
	background-repeat: repeat;
}

#container_body {
	margin-top: 80px;	
}

input.btn-large {
    color: white !important;
    width: 220px !important;
}

div#main {
	margin-top: 30px;
}

/*.links.main {
	height: 10px;
	width: 800px;
}*/

.description {
	height: 50px !important;
	width: 618px !important;
	padding-left: 27px !important;
/*	border: 1px solid #c2c2c2;
*/}

.dots.url_trail {
	color: #ccc;
	letter-spacing: .2em;
}

.dots.desc {
	color: #aaa;
	letter-spacing: .2em;
	font-size: 1.2em;
}

.pipe {
	margin-left: 6px;
	margin-right: 6px;
	font-size: 1.2em;
	/*font-style: ;*/
	color: #888;
}

.author {
	color: #555;
}

.link_title {
	padding-top: 0px !important;
	margin-top: 0px;
/*	border: 1px solid green;
	width: 1590px;*/
	
}

input#link_display_title, input#link_url {
	width: 500px;

.link_fav {
	vertical-align: middle;
	padding-right: 3px;
}

.info {
	padding-left: 27px !important;
/*	border: 1px solid #c2c2c2;
*/}